<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Progra_3.Properties.Settings.Conexion" connectionString="Data Source=DESKTOP-MS23KP4\SQLEXPRESS;Initial Catalog=SistemaDeGruas;User ID=sa;Password=base1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>